{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block title %}
    Reviews for {{ restaurant.name }}
{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <h2>Reviews for {{ restaurant.name }}</h2>
        {% if reviews %}
            <div class="row">
                {% for review in reviews %}
                    <div class="col-md-6">
                        <div class="card mb-3">
                            <div class="card-body">
                                {% with ''|center:review.starRating as range %}
                                {% for _ in range %}
                                    <img src="{% static 'images/star.png' %}" class="img-fluid" style="height: 25px;">
                                {% endfor %}
                                {% endwith %}
                                <br /><br />
                                <p class="card-text">{{ review.content }}</p>
                                <p class="card-text">User: {{ review.user }}</p>
                                <p class="card-text">Posted at: {{ review.date }}</p>
                                {% if review.replyContent %}
                                <p class="card-text">Reply Content: {{review.replyContent }}</p>
                                {% endif %}
                                {% if user.is_authenticated and user == restaurant.manager.user %}
                                    <a href="{% url 'food_advisor:review_reply' restaurant_id_slug=restaurant.id review_id=review.id %}" class="btn btn-primary">Reply</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No reviews available for this restaurant.</p>
        {% endif %}
    </div>

    <div>
        {% if user.is_authenticated and user != restaurant.manager.user %}
        <form method="post" action="{% url 'food_advisor:show_restaurant_reviews' restaurant_id_slug=restaurant_id %}">
            {% csrf_token %}
            <input type="hidden" name="restaurant_id" value="{{ restaurant_id }}">
            <input type="hidden" name="user" value="{{ user.id }}">
            {% bootstrap_form review_form %}
            <button type="submit" class="btn btn-primary">Submit Review</button>
        </form>
        {% endif %}
    </div>

{% endblock content %}
