<!-- Define navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- Navigation bar trademark -->
        <a class="navbar-brand" href="#">FoodAdvisor</a>

        <!-- Navigation entrance -->
        <div>
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Restaurant Owners</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


    <script>
        function user_delete() {
            layer.open({
                title: "Confirm deletion",
                content: "Are you sure you want to delete user information?",
                yes: function(index, layero) {
                    $('form#user_delete button').click();
                    layer.close(index);
                },
            })
        }
    </script>